<form class="form-signin" method="post" action="/sessions">
  <h2 class="form-signin-heading">Sign into your Chitter account</h2>
  <input class="form-control" type="text" name="username" placeholder="username">
  <input class="form-control" type="password" name="password" placeholder="password">
  <button class="btn btn-lg btn-primary" type="submit">Log in</button>
</form>