<h1>Sign into your Chitter account</h1>

<form method="post" action="/sessions">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <input type="submit" value="Log in" class="button">
</form>