<h1>Register as a Maker</h1>

<form method="post" action="/makers">
  <input type="text" name="name" placeholder="Name">
  <input type="email" name="email" placeholder="Email">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="password" name="password_confirmation" placeholder="Confirm your password">
  <input type="submit" value="Register" class="button">
</form>