<% if current_user %>
  Welcome <%= current_user.name %>

  <form action ="/sessions" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="name" value="<%= current_user.name %>"> 
    <input type="submit" value="Log out">
  </form>

<% else %>

  <a href="/sessions/new" class="button">Sign in</a>
  <a href="/makers/new" class="button">Sign up</a>  

<% end %>