<html>
  
  <head>
    <title>Chitter - a Twitter Clone</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  </head>

  <body>
    <div class="container">

      <%= partial :header %>
    
      <%= partial :flash %>
      
      <%= yield %>

    </div>
  </body>
</html>